<header class="site-header">
<div class="brand">  Isfandiar Azad<br> <h4>{{site.title}}</h4></div>
  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
	<div class="container">
<br>
<br>
 <div class="collapse navbar-collapse" id="navbar-collapse-2"  style=margin-right:120px; color="blue">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">فروشگاه من</a></li>
	        <li><a href="#">تازه ها </a></li>
            <li><a href="#">کافه تنهایی</a></li>
            <li><a href="#">الی دختر آزادی </a></li>
            <li><a href="#">سلام دنیا</a></li>
            <li><a href="#">صفحه ی اصلی </a></li>
 
       
          </ul>
         
        </div>
 </div>
  </div>

</header>
